<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Belly Button Biodiversity</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div class="container fluid">
    <div class="jumbotron text-center">
      <h1 style="color: rgb(36, 128, 0)">Belly Button Biodiversity Dashboard</h1>
      <p>Explore the dataset with the interactive charts below!</p>
    </div>
    <div class="row">
      <div class="container fluid">
      <div class="col-md-3">
        
        <div class="well">
          <p>SELECT Sample:</p>
          <select id="selDataset" onchange="optionChanged()">
            <option selected="selected">Select...</option>
          </select>
          <script src="{{ url_for('static', filename='js/index.js') }}"></script>  
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample Metadata</h3>
          </div>
          <div class="panel-body">
            AGE: 24<br>
            BBTYPE: I<br>
            ETHNICITY: Caucasian<br> 
            GENDER: F<br>
            LOCATION: Beaufort/NC<br>
            SAMPLEID: 940
          </div>
        </div>

      </div>  
        <div class="col-md-4">
          <div id="pie" style="height:60px;width:60px;padding:0"></div>
          <script src="{{ url_for('static', filename='js/plotpie.js') }}"></script>
        </div>   
        <div class="col-md-4" style="float:right">
                <div id="meters" style="height:90px;width:72px"></div>
  
        </div> 
      </div>  
    </div>   
    <br>
    <div class="container fluid">
    <div class="col-md-12" style="margin-top:10px;position:relative">
        <div id="bubbles"></div> 
        <script src="{{ url_for('static', filename='js/plotbubble.js') }}"></script>    
    </div>
    </div>
  </div>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>