/* styles for index page */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: lightgray;

}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 75px;
  overflow: hidden;
  background-color: white;
}

li {
  cursor: pointer;
  float: left;
}

li a {
  display: block;
  color: darkgray;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  z-index: 2px;
  background-color: lightgrey;
  color: black;
  text-decoration: none;
}

#landing {color: white; font-size: 2em; font-weight: bold;}

.dropdown-menu { overflow: visible;
   z-index: 999; 
}

.active {
  color: white;
  background-color: turquoise;
  text-decoration: none;
}


.box1 {
  height: 600px;
  margin-top: 40px;
  margin-left: 40px;
  padding: 20px;
  color: darkslategray;
  background: white;
}

.box2 {
  display: inline-block;
  height: 560px;
  margin-top: 40px; 
  margin-left: 10px;
  padding: 10px;
  color: darkslategray;
  background: white;
}

.box3 {
  height: 880px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 20px;
  padding: 20px;
  color: darkslategray;
  background: white;
}

.box4 {
  /* margin-top: 40px;
  margin-left: 30px;
  margin-right: 20px;
  padding: 20px; */
  color: darkslategray;
  background: white;
}

hr { 
  display: block;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1.5px;
} 
 

h1 {font-size: 2.5em; font-weight: bold; color: turquoise; padding-left: 25px;}
h2 {font-size: 2em; font-weight: bold; color: turquoise; padding-left: 25px;}
h3 {font-weight: bold; color: turquoise; padding-left: 25px;}
p1 {padding-left: 25px;}

.column {
  flex: 50%;
  padding: 0 4px;
}


.member {
  float: left;
}

.name {
  font-weight: bold; color: turquoise; 
  position: relative;

}

.member img {
  width: 100%;
  display: block;
}

#main_info,
#out_temp {
  float: left;
}

#figure {
  position: relative;
}

#main_info {
  width: 100%;
  font-size: 1.5em
}

#out_temp {
  width: 250px;
  height: 250px;
  margin-right: 20px;
}

.output {
  display: table;
  float: left;
}


@media (max-width: 1224px) {

  .box1 {
    overflow-wrap: unset;
    position: relative;
    width: 100%;
  }

  .box2 { 
    overflow-wrap: unset;
    position: relative;
    width: 100%;
    margin-left: 40px;
    height: 350px;
  }

  .box3 {
    overflow-wrap: inherit;
    position: relative;
    width: 100%;

  }

  .post {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 120px;
  } }